<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="form-login">
        <b>Login</b><br>
        <label for="input-login-user">Email</label>
        <input type="text"     id="input-login-user"   placeholder="Email"><br>

        <label for="input-login-passwd">Senha</label>
        <input type="password" id="input-login-passwd" placeholder="Senha"><br>

        <input type="checkbox" id="input-login-keep">
        <label for="input-login-keep"> Mantenha-me conectado</label><br>

        <input type="submit"   value="Entrar">
    </form>
    <br>
    <br>
    <br>
    <form id="form-register">
        <b>Register</b><br>
        <label for="input-register-name">Nome</label>
        <input type="text"     id="input-register-name"   placeholder="Nome"><br>

        <label for="input-user">Email</label>
        <input type="text"     id="input-register-user"   placeholder="Email"><br>

        <label for="input-register-passwd">Senha</label>
        <input type="password" id="input-register-passwd" placeholder="Senha"><br>

        <input type="checkbox" id="input-register-keep">
        <label for="input-register-keep"> Mantenha-me conectado</label><br>

        <input type="submit"   value="Registrar-se" onclick="register">
    </form>
    <script src="http://localhost:5000/assets/js/auth/login.js"></script>
</body>
</html>